body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

h1,
h2 {
  font-size: 2em;
  text-transform: uppercase;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

canvas {
  border: 1px solid black;
}

svg {
  margin-top: 20px;
}

a {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}
